<!-- <div class="container" style="background-image: url('/assets/chat.jpg'); background-size: cover; background-position: center;"> -->
<div class="container">

    <div class="overlay"> </div>
    <h1 class="" style="color: white; position: relative; z-index: 1;">Welcome to Jerry!</h1>
    <br />
    <hr />
    <% if current_user %>
        <%= link_to "Chat In Private" , gonowuser_path, class: "btn btn-info spa fa fa-solid" %>
            <%= link_to "See Rooms" , gonow_path, class: "btn btn-success spa fa fa-solid" %>
            <br>
            <br>
            <%= button_to 'Sign Out' , signout_path, method: :delete ,class:"btn
    btn-outline-dark text-light fa fa-exit spa" ,onclick:"checker()"%>
                <% else %>
                    <!-- <%= link_to "Chat Now" , chatpage_path, class: "btn btn-success" %> -->
                    <div class="container ">
                        <br>
                        <!-- <p style="opacity: 0.8; color: white; position: relative; z-index: 1;"> -->
                        <p> Hi, visitor! </p>
                        Welcome to the Jerry Chat App! This is a real time web application where you can have
                        conversations with other users in different rooms or private.
                        <br>
                        <br>
                        <%=link_to "Sign Up" ,signup_path, class: "btn btn-light spa fa fa-solid" %>
                            <%=link_to "Sign In" ,signin_path, class: "btn btn-info spa fa fa-solid" %>
                                <!-- </p> -->
                    </div>
                    <% end %>

</div>